<!doctype html>
<html>
  <head>
    <title>Add car to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%>: Add car</h1>
    <form method="POST" action="/caradded">
        <p>Car name: <input id="name" type="text" name="name" value="" /></p>
        <p>Price: <input id="price" type="text" name="price" value="" /></p>
        <input type="submit" value="Add Car" />
      </form>
  </body>
</html>

