<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the cars that we sell:</h2>
    <ul>
      <% availableCars.forEach(function(car) { %>
        <li><%= car.name %>, £<%=car.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
